.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);

  &__top {
    background: $color-background-gray;
    padding: 0.2rem;
    font-size: 0.8rem;
    // box-shadow: 0px 15px 5px $color-background-black;
  }

  &__items {
    @include flexAround(center, center, row, 30);
  }

  a {
    color: $color-background-black;
    transition: all 0.3s ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }

  &__bottom {
    background: $color-background-white;
  }

  &__search-cart {
    @include flexAround(center, center, row, 30);
  }

  &__input {
    width: 20rem;
    height: 1rem;
    padding: 0.8rem;
    outline: none;
    border: 2px solid $color-background-gray;
    transition: all 0.3s ease-in;

    &:hover,
    &:focus,
    &:active {
      border: 2px solid $color-primary;
    }
  }

  &__inner {
    padding: 10px;
    @include flexAround(space-between, center, row, null);
  }

  &__img {
    height: 1.3rem;

    &--cart {
      height: 1.6rem;
    }
  }
}

// for dummy
.dummy {
  height: 70px;
}

// footer starts here

.footer {
  padding: 1rem;

  h1 {
    text-align: left;
    color: $color-background-white;
    margin-bottom: 1rem;
  }

  background: $color-secondary;
  @include flexAround(flex-start, center, column, 10);

  &__contains {
    @include flexAround(space-between, flex-start, row, 10);
  }

  &__form {
    @include flexAround(space-between, flex-start, column, 10);
    align-items: center;
  }

  &__address {
    @include flexAround(null, null, row, 10);
  }

  &__location {
    flex: 4;
  }

  &__maps-img {
    height: 10rem;
    cursor: pointer;
  }

  &__newsletter {
    margin-bottom: 3rem;

    h1 {
      text-align: center;
    }
  }

  &__textarea {
    outline: none;
    border: 2px solid transparent;
    padding: 0.5rem;
    resize: none;

    &:hover,
    &:focus {
      border: 2px solid $color-primary;
    }
  }

  // payment
  &__images-payment > img {
    width: 5rem;
    background-color: white;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__welcome {
    width: 25rem;
    color: $color-background-white;
    opacity: 0.8;
    font-size: 0.8rem;
    margin-bottom: 2rem;

    &:hover {
      transition: all 0.2s ease;
      opacity: 1;
    }
  }

  &__item {
    line-height: 1.2rem;
    color: $color-background-white;
    font-size: 0.8rem;

    &:hover {
      opacity: 0.5;
      transition: all 0.2s ease;
    }
  }

  &__copyright {
    margin-top: 3rem;
    color: $color-background-white;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
  }
}
