.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);

  &__top {
    background: $color-background-gray;
    padding: 0.2rem;
    font-size: 0.8rem;
    // box-shadow: 0px 15px 5px $color-background-black;
  }

  &__searchbar {
    @include flexAround(center, center, row, 5);
  }

  &__left {
    @include flexAround(center, center, row, 80);
  }

  &__items {
    @include flexAround(center, center, row, 30);
  }

  &__right {
    @include flexAround(center, center, row, 20);
  }

  &__greeting {
    font-size: 0.9rem;
    font-weight: bold;
    color: $color-primary;
  }
  &__welcometxt {
    font-size: 0.9rem;
    margin-right: 0.5rem;
    font-weight: bold;
  }

  a {
    color: $color-background-black;
    transition: all 0.3s ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }

  &__bottom {
    background: $color-background-white;
  }

  &__search-cart {
    @include flexAround(center, center, row, 70);
  }

  &__input {
    width: 20rem;
    height: 1rem;
    padding: 0.8rem;
    outline: none;
    border: 2px solid $color-background-gray;
    transition: all 0.3s ease-in;

    &:hover,
    &:focus,
    &:active {
      border: 2px solid $color-primary;
    }
  }

  &__inner {
    padding: 10px;
    @include flexAround(space-between, center, row, 7);
  }

  &__img {
    height: 1.3rem;

    &--cart {
      height: 1.6rem;
    }
  }
}

// for dummy
.dummy {
  height: 70px;
}

// footer starts here

.footer {
  padding: 1rem;
  width: 100%;
  background: $color-secondary;
  @include flexAround(flex-start, center, column, 10);

  h1 {
    text-align: left;
    color: $color-background-white;
    margin-bottom: 1rem;
  }

  &__contains {
    width: 100%;
    @include flexAround(space-between, flex-start, row, null);
  }

  &__form {
    @include flexAround(space-between, flex-start, row, 10);
    align-items: center;
  }

  &__address {
    @include flexAround(space-between, null, row, 10);
  }

  &__map {
    height: 12rem;
    width: 15rem;
  }

  &__newsletter {
    margin-bottom: 3rem;

    h1 {
      text-align: center;
    }
  }

  &__textarea {
    outline: none;
    border: 1px solid transparent;
    padding: 0.5rem;
    resize: none;

    &:hover,
    &:focus {
      border: 1px solid $color-primary;
    }
  }

  // payment
  &__images-payment > img {
    height: 2.3rem;
    background-color: white;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__welcome {
    color: $color-background-white;
    opacity: 0.8;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    margin-right: 1rem;

    &:hover {
      transition: all 0.2s ease;
      opacity: 1;
    }
  }

  &__item {
    line-height: 1.2rem;
    color: $color-background-white;
    font-size: 0.8rem;

    &:hover {
      opacity: 0.5;
      transition: all 0.2s ease;
    }
  }

  &__copyright {
    margin-top: 3rem;
    color: $color-background-white;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
  }
}

@media (max-width: 1024px) {
  .header {
    &__search-cart {
      @include flexAround(center, center, row, 30);
    }

    &__input {
      width: 15rem;
      // height: 1rem;
      // padding: 0.6rem;
      // font-size: 0.6rem;
    }

    &__left {
      @include flexAround(center, center, row, 60);
    }
  }

  .footer {
    h1 {
      text-align: left;
      color: $color-background-white;
      margin-bottom: 1rem;
    }

    &__contains {
      @include flexAround(space-between, flex-start, row, 10);
    }

    &__form {
      @include flexAround(space-around, flex-start, row, 10);
      align-items: center;
    }

    &__newsletter {
      padding: 0.2rem;
    }

    &__copyright {
      margin-top: 2rem;
      padding: 0.2rem 0.5rem;
    }

    &__map {
      height: 12rem;
      width: 12rem;
    }

    // payment
    &__images-payment > img {
      height: 2rem;
    }
  }
}

@media (max-width: 850px) {
  .header {
    &__top {
      font-size: 0.6rem;
    }

    &__search-cart {
      @include flexAround(center, center, row, 10);
    }

    &__left {
      @include flexAround(center, center, row, 40);
    }

    &__input {
      width: 10rem;
      height: 1rem;
      padding: 0.6rem;
      font-size: 0.6rem;
    }

    &__inner {
      padding: 5px;
    }

    &__img {
      height: 0.8rem;

      &--cart {
        height: 1.3rem;
      }
    }
  }

  .dummy {
    height: 53px;
  }
  .footer {
    font-size: 0.5rem;

    &__map {
      height: 8rem;
      width: 8rem;
    }

    &__item {
      font-size: 0.6rem;
      margin-right: 2rem;
    }

    &__welcome {
      font-size: 0.6rem;
      margin-bottom: 1rem;
      margin-right: 1rem;
    }

    &__images-payment > img {
      height: 1.2rem;
    }
  }
}

@media (max-width: 560px) {
  .header {
    &__top {
      font-size: 0.6rem;
      padding: 0.3rem;
    }

    &__inner {
      padding: 10px;
      @include flexAround(space-between, center, column, 10);
    }

    &__left {
      width: 100%;
      @include flexAround(space-between, center, row, null);
    }

    &__greeting {
      font-size: 0.7rem;
    }

    &__welcometxt {
      font-size: 0.7rem;
      margin-right: 0.3rem;
    }

    &__right {
      @include flexAround(center, center, row, 10);
    }

    &__items {
      @include flexAround(center, center, row, 10);
    }

    &__search-cart {
      @include flexAround(center, center, row, 10);
    }

    &__input {
      font-size: 0.5rem;
      width: 18rem;
      height: 1.6rem;
      padding: 0.5rem;
    }

    &__inner {
      padding: 5px;
    }

    &__img {
      height: 0.8rem;

      &--cart {
        height: 1.3rem;
      }
    }
  }

  .dummy {
    height: 80px;
  }
  .footer {
    font-size: 0.5rem;

    &__map {
      height: 4rem;
      width: 4rem;
    }

    &__item {
      font-size: 0.5rem;
    }

    &__location {
      width: 7rem;
    }

    &__welcome {
      font-size: 0.6rem;
      margin-bottom: 0.6rem;
      margin-right: 1rem;
    }

    &__images-payment > img {
      height: 1rem;
    }

    &__textarea {
      padding: 0.2rem;
      font-size: 0.6rem;
    }

    h1 {
      margin-bottom: 0.7rem;
    }

    &__items {
      margin-bottom: 0.2rem;
    }
  }
}

@media (max-width: 430px) {
  .header {
    &__top {
      font-size: 0.6rem;
    }
    &__inner {
      padding: 1rem 0rem;
      @include flexAround(space-between, center, column, 10);
    }
    &__left {
      width: 100%;
      @include flexAround(space-between, center, row, null);
    }
    &__search-cart {
      @include flexAround(center, center, row, 10);
    }

    &__right {
      @include flexAround(center, center, row, 7);
    }

    &__greeting {
      font-size: 0.6rem;
    }

    &__welcometxt {
      font-size: 0.7rem;
      margin-right: 0.2rem;
    }

    &__input {
      font-size: 0.5rem;
      width: 15rem;
      height: 1.5rem;
      padding: 0.4rem;
    }

    &__inner {
      padding: 5px;
    }

    &__img {
      height: 1rem;

      &--cart {
        height: 1.2rem;
      }
    }
  }

  .dummy {
    height: 90px;
  }
  .footer {
    font-size: 0.7rem;
    &__contains {
      @include flexAround(space-between, null, column, 30);
    }
    &__map {
      height: 8rem;
      width: 7rem;
    }

    &__item {
      font-size: 0.5rem;
    }

    &__location {
      width: 12rem;
    }

    &__welcome {
      font-size: 0.6rem;
      margin-bottom: 0.6rem;
      margin-right: 1rem;
    }

    &__images-payment > img {
      height: 1.5rem;
    }

    &__textarea {
      padding: 0.2rem;
      font-size: 0.6rem;
    }

    h1 {
      margin-bottom: 0.7rem;
    }

    &__items {
      font-size: 1.2rem;
      margin-bottom: 0rem;
    }
  }
}

@media (max-width: 321px) {
  .header {
    &__top {
      font-size: 0.5rem;
    }

    &__left {
      @include flexAround(space-between, center, row, null);
      margin-bottom: 0.4rem;
    }

    &__inner {
      padding: 1rem 0rem;
      @include flexAround(space-between, center, column, 5);
    }
    &__right {
      @include flexAround(space-between, center, row, null);
    }

    &__greeting {
      font-size: 0.5rem;
    }

    &__welcometxt {
      font-size: 0.6rem;
      margin-right: 0.2rem;
    }

    &__search-cart {
      @include flexAround(center, center, row, 10);
    }

    &__input {
      font-size: 0.5rem;
      width: 13rem;
      height: 1.5rem;
      padding: 0.4rem;
    }

    &__inner {
      padding: 5px;
    }

    &__img {
      height: 0.7rem;

      &--cart {
        height: 1.2rem;
      }
    }
  }

  .dummy {
    height: 78px;
  }
  .footer {
    font-size: 0.7rem;
    &__contains {
      @include flexAround(space-between, null, column, 10);
    }
    &__map {
      height: 5rem;
      width: 5rem;
    }

    &__item {
      font-size: 0.5rem;
    }

    &__location {
      width: 12rem;
    }

    &__welcome {
      font-size: 0.6rem;
      margin-bottom: 0.6rem;
      margin-right: 1rem;
    }

    &__images-payment > img {
      height: 1.5rem;
    }

    &__textarea {
      padding: 0.2rem;
      font-size: 0.6rem;
    }

    h1 {
      margin-bottom: 0.7rem;
    }

    &__items {
      font-size: 1.2rem;
      margin-bottom: 0rem;
    }
  }
}
