$text-color: rgb(0, 0, 0);

$color-primary: #ff5c00;
$color-secondary: #302f61;

$color-yellow: #d4d110;

$color-background-gray: #e7e7e7;
$color-background-white: #ffffff;
$color-background-black: #000000;
