.register {
  padding: 1rem 0rem;
  @include flexAround(space-between, center, column, 20);

  &__contains {
    @include flexAround(space-between, center, row, 20);
  }

  &__form {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 5rem 2rem;
    background-color: $color-background-white;
    @include flexAround(space-between, center, column, 20);
  }

  &__group {
    @include flexAround(null, null, column, 8);
    margin-bottom: 2rem;
  }

  &__label {
    font-size: 0.8rem;
    cursor: pointer;
  }

  &__select {
    padding: 0.5rem;
    height: 2rem;
    outline: none;
    border: 2px solid $color-background-gray;
    transition: all 0.3s ease-in;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      border: 2px solid $color-primary;
    }
  }

  &__input {
    width: 20rem;
    padding: 0.5rem;
    height: 2rem;
    outline: none;
    border: 2px solid $color-background-gray;
    transition: all 0.3s ease-in;

    &:hover,
    &:focus,
    &:active {
      border: 2px solid $color-primary;
    }
  }

  &__end {
    font-size: 0.8rem;
  }

  &__redirect {
    color: $color-primary;
  }
}

@media (max-width: 768px) {
  .register {
    &__input {
      width: 16rem;
      padding: 0.5rem;
      height: 2rem;
      font-size: 0.7rem;
    }
  }
}

@media (max-width: 450px) {
  .register {
    padding: 0.8rem 2rem;
    &__input {
      width: 15rem;
      padding: 0.3rem;
      height: 1.8rem;
      font-size: 0.6rem;
    }

    &__contains {
      @include flexAround(space-between, center, column, 20);
    }
  }
}
