.flash-sale {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 0.8rem;

  h1 {
    margin-bottom: 0.5rem;
  }

  //for contains or container of all
  &__contains {
    background-color: $color-background-gray;
  }

  // for header
  &__header {
    @include flexAround(space-between, center, row, 4);
    margin-bottom: 1.5rem;
    background-color: rgba($color-background-white, 0.9);
    padding: 1rem 1rem;
  }

  &__left {
    @include flexAround(flex-start, center, row, 50);
  }

  &__title {
    font-size: 1rem;

    &--sale {
      color: $color-primary;
      font-size: 1.1rem;
    }
  }

  &__ending-timer {
    @include flexAround(flex-start, center, row, 10);
  }

  &__times {
    @include flexAround(flex-start, center, row, 5);
  }

  &__time {
    background-color: $color-primary;
    padding: 0.2rem 0.3rem;
    color: $color-background-white;
  }

  // for cards area
  &__cards {
    @include flexAround(flex-start, center, row, 20);
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
  .flash-sale {
    &__header {
      padding: 0.8rem 0.8rem;
    }

    &__cards {
      @include flexAround(space-between, center, row, 10);
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 768px) {
  .flash-sale {
    &__header {
      padding: 0.5rem 0.8rem;
    }

    &__cards {
      @include flexAround(flex-start, center, row, 10);
      flex-wrap: wrap;
    }

    &__title {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 450px) {
  .flash-sale {
    &__header {
      padding: 0.5rem 0.7rem;
    }

    &__left {
      @include flexAround(flex-start, center, row, 30);
    }

    &__cards {
      @include flexAround(flex-start, center, row, 15);
      flex-wrap: wrap;
    }

    &__title {
      font-size: 0.6rem;
    }

    &__time {
      font-size: 0.6rem;
      padding: 0.1rem 0.2rem;
    }
  }
}

@media (max-width: 376px) {
  .flash-sale {
    &__cards {
      @include flexAround(flex-start, center, row, 15);
      flex-wrap: wrap;
    }

    &__title {
      font-size: 0.7rem;
    }

    &__time {
      font-size: 0.7rem;
    }
  }
}

@media (max-width: 320px) {
  .flash-sale {
    &__header {
      padding: 0.5rem 0.7rem;
    }

    &__contains {
      padding: 0rem;
    }

    &__cards {
      @include flexAround(flex-start, center, row, 26);
      flex-wrap: wrap;
    }

    &__title {
      font-size: 0.5rem;
    }

    &__time {
      font-size: 0.6rem;
      padding: 0.1rem 0.2rem;
    }
  }
}
