.justforyou {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 0.8rem;

  h1 {
    margin-bottom: 0.8rem;
  }

  //for contains or container of all
  &__contains {
    & > * {
      margin-bottom: 20px;
    }
  }

  &__button {
    text-align: center;
    margin-top: 0.7rem;
  }

  &__cards {
    @include flexAround(flex-start, center, row, 27);
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
  .justforyou {
    &__cards {
      @include flexAround(space-between, center, row, 15);
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 768px) {
  .justforyou {
    &__cards {
      @include flexAround(flex-start, center, row, 15);
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 376px) {
  .justforyou {
    &__cards {
      @include flexAround(flex-start, center, row, 30);
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 321px) {
  .justforyou {
    &__cards {
      @include flexAround(flex-start, center, row, 26);
      flex-wrap: wrap;
    }
  }
}
