.cart {
  width: 100%;
  padding: 1rem 0.2rem;
  font-size: 0.8rem;

  &__label {
    opacity: 0.7;
  }

  &__contains {
    padding: 3rem 0.2rem;
    background-color: $color-background-white;
    @include flexAround(space-around, center, row, 20);
  }

  &__rowheader {
    background-color: rgba($color-primary, 0.8);
    color: $color-background-white;
    padding: 0.5rem 0.2rem;
    margin-bottom: 1rem;
    @include flexAround(space-around, center, row, 10);
  }

  &__row {
    margin-bottom: 1rem;
    @include flexAround(space-around, center, row, 10);
    background-color: rgba($color-background-gray, 0.3);
    padding: 0.4rem 0.2rem;
  }

  &__col {
    @include flexAround(flex-start, center, row, 10);
    width: 5rem;

    &--extra {
      width: 12rem;
    }
  }

  &__image {
    width: 1.3rem;
  }

  &__quantity {
    @include flexAround(space-around, center, row, 8);
  }

  &__btns {
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid $color-background-gray;
    transition: all 0.5s ease-in-out;
    background-color: $color-background-white;

    &:hover,
    &:focus {
      border: 1px solid $color-primary;
      cursor: pointer;
    }
  }

  &__itemsincart {
    padding: 1rem 2rem;
    min-height: 20rem;
  }

  &__summary {
    background-color: $color-background-white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    padding: 2rem 3rem;
    margin-top: 2rem;
    @include flexAround(center, center, column, 21);
  }

  &__coupoun {
    outline: none;
    height: 1.8rem;
    font-size: 0.6rem;
    padding: 0.3rem 0.3rem;
    border: 1px solid $color-background-gray;
    width: 80%;

    &:hover,
    &:focus {
      border: 1px solid $color-primary;
    }
  }

  &__block {
    @include flexAround(space-between, center, row, 8);
    margin-bottom: 1rem;
    font-size: 0.7rem;
  }
}

@media (max-width: 850px) {
  .cart {
    font-size: 0.6rem;
    &__contains {
      padding: 3rem 0.2rem;
      @include flexAround(space-around, center, column, 20);
    }

    &__summary {
      width: 75%;
      padding: 2rem 2rem;
      margin-top: 2rem;
      @include flexAround(center, center, column, 25);
    }

    &__block {
      @include flexAround(space-between, center, row, 100);
      margin-bottom: 1rem;
      font-size: 0.8rem;
    }
    &__label {
      opacity: 0.7;
    }
  }
}

@media (max-width: 560px) {
}

@media (max-width: 430px) {
  .cart {
    font-size: 0.5rem;
    &__contains {
      padding: 0.1rem 0.1rem;
      @include flexAround(space-around, center, column, 10);
    }
    &__itemsincart {
      width: 100%;
      padding: 1rem 0.5rem;
      min-height: 5rem;
    }

    &__rowheader {
      padding: 0.5rem 0.2rem;
      @include flexAround(space-around, center, row, 10);
    }

    &__summary {
      width: 100%;
      padding: 1rem 1rem;
      margin-top: 2rem;
      @include flexAround(center, center, column, 25);
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0);
    }

    &__coupoun {
      height: 1.5rem;
      font-size: 0.6rem;
      padding: 0.3rem 0.3rem;
      width: 100%;
    }

    &__block {
      width: 100%;
      @include flexAround(space-between, center, row, null);
      margin-bottom: 0.5rem;
      font-size: 0.6rem;
    }
    &__label {
      opacity: 0.7;
    }
  }
}

@media (max-width: 322px) {
  .cart {
    font-size: 0.45rem;
    &__contains {
      padding: 0.1rem 0.1rem;
      @include flexAround(space-around, center, column, 20);
    }
    &__itemsincart {
      font-size: 0.6rem;
      width: 100%;
      padding: 1rem 0.2rem;
      min-height: 5rem;
    }
    &__image {
      width: 0.8rem;
    }

    &__coupoun {
      height: 1.5rem;
      font-size: 0.6rem;
      padding: 0.3rem 0.3rem;
      width: 100%;
    }

    &__rowheader {
      padding: 0.5rem 0.2rem;
      @include flexAround(space-around, center, row, 10);
    }

    &__summary {
      width: 90%;
      padding: 1rem 1rem;
      margin: 1rem 0;
    }

    &__block {
      width: 100%;
      @include flexAround(space-between, center, row, null);
      margin-bottom: 0.7rem;
      font-size: 0.7rem;
    }
  }
}
