.productdetail {
  padding: 1rem 1rem;

  &__contains {
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.3);
    background-color: $color-background-white;
    padding: 3rem 3rem;
    @include flexAround(space-around, flex-start, row, 40);
  }

  &__showcase {
    @include flexAround(space-between, center, column, 10);
  }

  &__window {
    padding: 0.5rem;
    background: $color-background-gray;
    width: 15rem;
    height: 15rem;
  }

  &__switches {
    padding: 1rem 0rem;
    width: 15rem;
    @include flexAround(space-between, center, row, 20);
  }

  &__switch {
    padding: 0.2rem;
    background-color: $color-background-gray;
    height: 3rem;
    width: 3rem;
  }

  &__image {
    object-fit: contain;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  // for right
  &__description {
    padding: 0.8rem;
    width: 20rem;
  }

  &__quantity {
    @include flexAround(flex-start, center, row, 10);
    margin-top: 1rem;
  }

  &__btns {
    width: 1.5rem;
    height: 1.5rem;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      border: 1px solid $color-primary;
    }
  }

  &__description > * {
    margin-bottom: 0.5rem;
  }

  &__continue {
    color: $color-primary;
    font-size: 0.6rem;
    font-weight: bold;
  }

  &__title {
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__rating {
    color: $color-yellow;
    font-size: 1.2rem;
  }

  &__discounted-price {
    color: $color-primary;
    font-size: 1.3rem;
    font-weight: bold;
  }

  &__original-price {
    font-size: 0.7rem;
  }

  &__cut {
    text-decoration: line-through;
    opacity: 0.5;
  }

  &__dis {
    color: red;
    font-weight: bold;
    margin-left: 0.5rem;
    font-size: 0.9rem;
  }

  &__specs {
    line-height: 1rem;
  }

  &__buttons {
    margin-top: 1rem;
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
  }

  &__desc {
    font-size: 0.9rem;
  }

  &__specs {
    font-size: 0.7rem;
  }
}

.suggestedProducts {
  background-color: $color-background-white;
  padding: 2rem 2rem;
  margin-bottom: 1rem;

  h1 {
    text-align: center;
    font-size: 1rem;
  }

  &__products {
    padding: 2rem 5rem;
    @include flexAround(flex-start, center, row, 50);
    flex-wrap: wrap;
  }

  .card {
    background-color: rgba($color-background-gray, 0.5);
  }
}

@media (max-width: 780px) {
  .suggestedProducts {
    padding: 2rem 2rem;

    h1 {
      text-align: center;
    }

    &__products {
      padding: 2rem 2rem;
      @include flexAround(flex-start, center, row, 20);
    }
  }
}

@media (max-width: 450px) {
  .productdetail {
    &__contains {
      padding: 3rem 3rem;
      @include flexAround(space-around, center, column, 40);
    }
  }

  .suggestedProducts {
    padding: 2rem 2rem;

    h1 {
      text-align: center;
    }

    &__products {
      padding: 2rem 2rem;
      @include flexAround(flex-start, center, row, 30);
    }
  }
}

@media (max-width: 325px) {
  .productdetail {
    padding: 1rem 0.5rem;
    &__contains {
      padding: 2rem 2rem;
      @include flexAround(space-around, center, column, 40);
    }

    &__title {
      font-size: 1rem;
    }

    &__rating {
      font-size: 1rem;
    }

    &__discounted-price {
      font-size: 1.3rem;
    }

    &__original-price {
      font-size: 0.8rem;
    }

    &__cut {
      text-decoration: line-through;
      opacity: 0.5;
    }

    &__description {
      width: 18rem;
      padding: 0.8rem;
    }

    &__dis {
      font-size: 0.9rem;
    }

    &__buttons {
      margin-top: 1rem;
      font-size: 0.6rem;
    }

    &__desc {
      font-size: 0.9rem;
    }

    &__specs {
      font-size: 0.6rem;
    }
  }

  .suggestedProducts {
    padding: 1rem 0.2rem;

    h1 {
      text-align: center;
    }

    &__products {
      padding: 1rem 0.3rem;
      @include flexAround(flex-start, center, row, 10);
    }
  }
}

@media (max-width: 380px) {
  .suggestedProducts {
    padding: 1rem 0.2rem;

    h1 {
      text-align: center;
    }

    &__products {
      padding: 1rem 0.2rem;
      @include flexAround(flex-start, center, row, 15);
    }
  }
}
